.section {
    height: 100vh; 
    transition: opacity 0.2s ease, transform 0.2s ease;
    opacity: 0; 
    transform: translateY(20px); 
  }
  
  .visible {
    opacity: 1; 
    transform: translateY(0); 
  }
  
  .hidden {
    opacity: 0;
    transform: translateY(20px); 
  }
  