/* ModalCalendar.css */

/* Calendar 전체 */
.react-calendar {
  width: 405px;
  border: #B8B1AB solid 3px;
  border-radius: 30px;
  box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.13);
  padding: 3% 5%;
  background-color: white;
  overflow: hidden;
}

/* 전체 폰트 컬러 */
.react-calendar__month-view abbr {
  color: #333; /* gray_1 값 */
}

/* 네비게이션 가운데 정렬 */
.react-calendar__navigation {
  justify-content: center;
}

/* 네비게이션 폰트 설정 */
.react-calendar__navigation button {
  font-weight: 800;
  font-size: 1rem;
}

/* 네비게이션 버튼 컬러 */
.react-calendar__navigation button:focus {
  background-color: white;
}

/* 네비게이션 비활성화 됐을 때 스타일 */
.react-calendar__navigation button:disabled {
  background-color: white;
  color: black; /* darkBlack 값 */
}

/* 년/월 상단 네비게이션 칸 크기 줄이기 */
.react-calendar__navigation__label {
  flex-grow: 0 !important;
}

/* 요일 밑줄 제거 */
.react-calendar__month-view__weekdays abbr {
  text-decoration: none;
  font-weight: 800;
}

/* 일요일에만 빨간 폰트 */
.react-calendar__month-view__weekdays__weekday--weekend abbr[title='일요일'] {
  color: red; /* red_1 값 */
}

/* 오늘 날짜 폰트 컬러 */
.react-calendar__tile--now abbr {
  color: blue; /* primary_2 값 */
}

/* 네비게이션 월 스타일 적용 */
.react-calendar__year-view__months__month {
  border-radius: 0.8rem;
  background-color: #f2f2f2; /* gray_5 값 */
  padding: 0;
}

/* 네비게이션 현재 월 스타일 적용 */
.react-calendar__tile--hasActive abbr {
  color: white;
  background-color: #0066cc; /* primary_2 값 */
}

/* 일 날짜 간격 */
.react-calendar__tile {
  padding: 5px 0px 18px;
  position: relative;
}

/* 선택한 날짜 스타일 적용 */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus,
.react-calendar__tile--active {
  background-color: yellow; /* yellow_2 값 */
  border-radius: 0.3rem;
}

/* 오늘 버튼 스타일 */
.today-button {
  position: absolute;
  right: 7%;
  top: 6%;
  background-color: #0099ff; /* primary_3 값 */
  color: yellow; /* yellow_2 값 */
  width: 18%;
  min-width: fit-content;
  height: 1.5rem;
  text-align: center;
  margin: 0 auto;
  line-height: 1.6rem;
  border-radius: 15px;
  font-size: 0.8rem;
  font-weight: 800;
}

/* 오늘 날짜에 텍스트 삽입 스타일 */
.today-text {
  font-size: x-small;
  color: #6600cc; /* br_2 값 */
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

/* 출석한 날짜에 점 표시 스타일 */
.dot {
  background-color: #6600cc; /* br_2 값 */
  border-radius: 50%;
  width: 0.3rem;
  height: 0.3rem;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
}
