@font-face {
    font-family: 'TheJamsil';
    src: url('./assets/fonts/TheJamsil3Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TheJamsil';
    src: url('./assets/fonts/TheJamsil5Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
